<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- подключаем фильтры -->
{% load custom_filters %}

<!--Импортируем модуль с нашим тегом-->
{% load custom_tags %}

<!-- Название у нас будет Новости -->
{% block title %}
Новости
{% endblock title %}

<!-- В контенте на странице мы выводим все новости данной категории -->
{% block content %}
<h1>Новости в категории: {{ Category }}</h1>
<h3><span class="text-muted fs-6 fw-normal">Новостей в данной категории: {{ page_obj.paginator.count }}</span></h3>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' Category.id %}" class="btn btn-secondary btn-sm">Подписаться на рассылку</a></p>
    {% else %}
        <p class="text-center"><a href="{% url 'unsubscribe' Category.id %}" class="btn btn-secondary btn-sm">Отписаться</a></p>
    {% endif %}
<hr>
    {% if category_posts_list %}
        <ul class="list-group list-group-flush">
            {% for post in category_posts_list %}
                <li class="list-group-item">
                    <small class="fw-bold">{{ post.dateCreation | date:'d M Y' }} </small>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title|censor }}</a>
                    <small class="text-muted">Автор
                        {% if post.categoryType == 'AR' %}
                            статьи
                        {% else %}
                            новости
                        {% endif %}: {{ post.author }}</small> <br>
                    <small class="fw-bold"> Категории:
                        {% for category in post.postCategory.all %}
                            <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                        {% endfor %}
                    </small>
                    <p>{{ post.text|truncatechars:35|censor }}
                    {% if post.author.authorUser == request.user %}
                        {% if perms.NewsPortal.change_post %}
                        <a href="{% url 'news_update' pk=post.id %}">Изменить</a>
                        {% endif %}
                        {% if perms.NewsPortal.delete_post %}
                        <a href="{% url 'news_delete' pk=post.id %}">Удалить</a>
                        {% endif %}
                    {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>

    {% else %}
       <!-- Если новостей нет, говорим, что новостей нет ;) -->
       <h2>Новостей нет!</h2>
    {% endif %}
<hr>
<!--    Добавляем пагинацию на страницу -->
<!--    Для каждой ссылки пагинации указываем обработку через новый тег-->

<!--    Информация о предыдущих страницах-->
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

<!--    Информация о текущей странице-->
    {{ page_obj.number }}

<!--    Информация о следующих страницах-->
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}