{% extends 'flatpages/default.html' %}

{% block title %}
Подписки
{% endblock title %}

{% block content %}
<h1>Подписка на рассылку</h1>
<hr>
    <ul class="list-group list-group-flush bg-transparent">

        {% for categories in subscriptions %}
        <li class="list-group-item bg-transparent">

            {{ categories.name }}

            {% if not request.user in categories.subscribers.all %}
                <p class="text_center"><a href="{% url 'subscribe' categories.id %}" class="btn btn-secondary btn-sm">Подписаться на категорию</a> </p>
            {% else %}
                <p class="text_center"><a href="{% url 'unsubscribe' categories.id %}" class="btn btn-secondary btn-sm">Отписаться от рассылки</a> </p>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
{% endblock content %}
